.ysRandomPicker {
	position: fixed;
	z-index: 2000;
}

.ysRandomPicker .item {
	width: 45px;
	height: 45px;
	position: absolute;
	z-index: 1000;
	left: 76px;
	top: 168px;
	cursor: pointer;
}

.ysRandomPicker .item.start {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon_start_02.png') no-repeat;
}

.ysRandomPicker .item.start:hover {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_start_02_hover.png');
}

.ysRandomPicker .item.pickRestaurant {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon_restaurant_03.png') no-repeat;
}

.ysRandomPicker .item.pickProduct {
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon_product_02.png') no-repeat;
}

.ysRandomPicker .item.pickRestaurant:hover,
.ysRandomPicker .item.pickProduct:hover {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/icon_question_mark_sprite_01.png');
	-webkit-animation: questionAnimation .8s steps(14) infinite alternate;
}

@-webkit-keyframes questionAnimation {
	from { background-position: 0px; }
	 to { background-position: -630px; }
}

.ysTooltip {
	position: absolute;
	z-index: 1000;
	text-align: center;
	font-size: 11px;
	font-family: sans-serif;
	top: 117px;
	left: 24px;
}

.ysTooltip  {
	display: none;
}

.ysTooltip div {
	background: #fff;
	background: rgba(255,255,255,1);
	box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
	padding: 10px;
	color: #555;
	border-radius: 2px;
	margin: 0;
	width: 130px;
}

.ysTooltip span {
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 20px;
	-webkit-transform: scaleX(2);
	display: block;
	text-shadow: 0px 3px 1px rgba(0,0,0,0.25);
	line-height: normal;
	border: 0;
	margin: -6px 0 0 0;
}


.ys-random-picker-main-button {
    margin-top: 12px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.15), inset 0 1px 0 rgba(255,255,255,0.19);
}

